<!DOCTYPE html>
<html lang="pt-br">
    <%- include('components/head') %>
    <body>
        <main>
            <div class="content-admin">
                <%- include('components/menuAdmin') %>
                <div class="admin-profile">
                    <%- include('components/headerAdmin') %>
            </div>
            <div class="content-display">
                <h1>Editar pagina</h1>
                <div class="content-msg">
                    <% if(msgSucess) { %>
                        <div class="msgSucess">
                            <%= msgSucess %> <a href="/pages/createPages">X</a>
                        </div>
                        <% } %> <% if(msgError) { %>
                            <div class="msgError">
                                <%= msgError %> <a href="/pages/createPages">X</a>
                            </div>
                            <% } %>
                </div>
                <div class="create-pages">
                    <form action="/pages/updatePage/<%=page.page_id %>" method="post">
                        <div class="form-group">
                            <div class="btns-controls-page">
                                <a href="/pages">Cancelar</a>
                                <button>Salvar</button>
                            </div>
                            <div class="page_title" id="page_title">
                                <input
                                type="text"
                                name="page_title"
                                placeholder="titulo da pagina"
                                value="<%= page.page_title %>"
                                />
                        </div>
                        <div class="page-position" id="page_position">
                            <label for="select_position">selecione uma posição</label>
                            <select name="page_position_id" id="select_position"></select>
                            <option value="" disabled selected>
                                Selecione uma posição
                            </option>
                            <% positions,forEach(itemsPosition => { %> 
                            <option value="<%= itemsPosition.position_id %>" <%= page.position_id ===>
                                <%= itemsPosition.position_name %>
                            </option>
                            <% }) %>
                            </select>
                            <a href="#"><i class="bx bx-plus-medical"></i>Add posição</a>
                        </div>
                        <div class="page_status" id="page_status">
                            <label for="select_status">Selecione o status</label></div>
                            <select name="page_status" id="select_status">
                                <option
                                value="<% page.page_status === 1 ? 'Publicado' : 'Rascunho' %>"
                                >
                                <option
                                value="<% page.page_status === 1 ? 'Publicado' : 'Rascunho' %>"
                                >
                                <% page.page_status === 1 ? 'Publicado' : 'Rascunho' %>
                                >
                                <% page.page_status === 1 ? 'Publicado' : 'Rascunho' %>
                                >
                                </option>
                             </select>
                        </div>
                        <div class="container-galeria">
                            <h3>Galeria</h3>
                            <div class="all_images">
                                <% images.forEach(image => {%>
                                    <div class="content_image" id="content_image">
                                        <div class="show_img">
                                            <img 
                                            src="<%= image.user_image_name %>"
                                            id="image_name"
                                            alt=""
                                            />
                                            </div>
                                            <div class="img_name" id="img_name">
                                                <%= image.user_image_image_name %> 
                                            </div>          
                                        </div>
                                        <% }) %>
                            </div>
                        </div>
                        <textarea name="page-content" id="my-expressjs-tinymce-app">
                            <%= page.page-content %>
                            </textarea>
                    </form>
                </div>
            </div>
        </div>
        </main>
        <% include('components/script') %>
    </body>
</html>
