<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>

  <body>
    <main>

<div  class="content-admin">
        <%- include('components/menuAdmin') %>

        <div class="admin-profile">
          <%- include('components/headerAdmin') %>
        </div>
        <div class="content-display">
          <h1>pages</h1>
          <div class="content-msg">
            <%if (msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %> <a href="/pages">X</a>
            </div>
            <% } %> <% if(msgError) { %>
              <div class="msgError"><%= msgError %> <a href="/pages/">X</a></div> 
          <% } %>
          <div class="content-list-pages">
            <div class="btn-create-page">
              <a href="/pages/createPages"> adicionar uma nova pagina</a>
              <div class="list-pages">
                <div class="table">
                  <div class="row">
                    <div class="row-border header-page">
                      <div class="col">page</div>
                      <div class="col">position</div>
                      <div class="col">status</div>
                      <div class="col">editar</div>
                      <div class="col">delete</div>
                    </div>
                  </div>
                  <div class="row">
                    <% pages.forEach(page => { %>
                      <div class="row-border">
                        <div class="col"><%=page.page_title %></div>
                        <div class="col"><%=page.position_name></div>
                        <div class="col">
                        <%= page.page_status === 1 ? 'Publicado' : 'Rascunho' %>
                          </div>
                          <div class="col"></div>
                          <a href="/pages/editPage/<%= page.page_id %>">editar</a> 
                          <div class="col">
                            
                            <button
                            onclick="openDeleteModal (`<%= page.page_id %>`, `<%=page.page_title %>`)" 
                            id="delete"
                            data-id="<% page.page_id%>"></button> delete
                            </button>
                            
                            
                            
                            </div>
                      </div>
                    }) %>
                  </div>
                  <div class="modal hide-modal" id="modal">
                    <form action="" method="post">
                      <div class="content-delete" id="content-delete">
                        <h3></h3>
                        <h4>
                          se você realmente quer deletar clique em deletar se não clique em cancelar
                        </h4>
                        <button id="cancelar" type="reset">cancelar</button>
                        <button>delete</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
